@model IEnumerable<Lab_rab_3_Husainova_R_BPI_23_02.Models.Vegetable>
@using System.Linq
<p>
    @Html.ActionLink("Список овощей", "FirstViewMethod", "Vegetables") |
    @Html.ActionLink("Сортировка", "SecondViewMethod", "Vegetables") |
    @Html.ActionLink("Группировка", "ThirdViewMethod", "Vegetables")
</p>
<hr />

<h2> Список овощей</h2>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
<div>@item.Name</div>
    }
}
else
{
<p>Список пуст</p>
}