@model IEnumerable<IGrouping<string, Lab_rab_3_Husainova_R_BPI_23_02.Models.Vegetable>>
<h2>Овощи по первой букве</h2>
@foreach (var group in Model)
{
    <h3>@group.Key</h3>
    <ul>
        @foreach (var item in group)
        {
            <li>@item.Name</li>
        }
    </ul>
}